.formTitle.mdl-card__title {
    padding: 1px;
    padding-left: 16px;
    height: 35px;
    background-color: rgba(99, 147, 250, 0.123);
}

.formText {
    padding-top: 2px;
    padding-bottom: 2px;
}

.margin {
    margin-left: 1em;
}

.formCard:hover {
    background: rgb(245, 245, 245)
}

.formCard {
    cursor: pointer;
    float: left;
    width: 250px;
    height: 110px;
    padding-top: 1px;
}

.add {
    left: 0.5em;
    top: 0.9em;
    width: 100%;
}