.center {
    display: flex;
    padding: 1em;
    padding-top: 0em;
    padding-bottom: 1.6em;
}

body {
    
    background-size: cover;
    background-image: linear-gradient( rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0)),
    url('./view.jpg');
}
.mdl-tabs__tab-bar{
    background-color: #FAFAFA;
}

.padded {
    padding-top: 8em;
}
