.center {
    display: flex;
    padding: 1em;
    padding-top: 0em;
    padding-bottom: 1.6em;
}

body {
    background-image: url('./view.jpg');
    background-size: cover;
}
.mdl-tabs__tab-bar{
    background-color: #FAFAFA;
}

.padded {
    padding-top: 8em;
}
