.refresh, .spinner{
    padding: 1em;
    z-index: 0;
    position: absolute;
    left: 17.5em;
    top: -3.5em;
    width: 100%;
    overflow: hidden;
}

.weatherTable {
    width: 26em;
}

.spinner {
    left: -1em;
    top: 4em;
}

.mdl-data-table tbody tr {
    height: 57px;
}


.mdl-data-table th {
    vertical-align: middle;
    padding-top: 14px; 
}

th.t-text {
    padding-bottom: 12px
}
